.nav {
display: flex;
justify-content: center;
}

.nav img {
display: inline;
}

.nav span {
display: flex;
align-self: center;
padding-left: 20px;
font-size: 20px;
}
.nav ul {
display: inline-block;
}
.nav li {
display: inline;
padding-right: 20px;
}

.main {
display: flex;
flex-direction: column;
justify-content: center;

}

.main h1 {
display: flex;
justify-content: center;
}

.main p {
display: flex;
justify-content: center;
}

#button {
color: white;
display: block;
margin: auto;
padding: 10px;
background-color: rgb(17, 141, 182);
}

.paragraph {
display: block;
padding: 5% 20% 0% 20%;
line-height: 1.5em;
}

.shift {
float: left;
}

.nav2 li {
display: inline-block;
padding-right: 20px;
}

.copyright {
display: block;
text-align: center;
margin-right: 20%;
margin-top: 5%;
}