
body {
margin: 0%; 
}

.hero {
background-image: url("img/atl.png");
color: white;
}

.nav {
display: flex;
justify-content: flex-end;
padding-right: 20px;
margin-right: 100px;
}

.nav li {
display: inline;
padding-right: 30px;
text-transform: uppercase;
}

.info {
padding-top: 20px;
}

.image {
display: flex;
justify-content: center;
}

.info h1 {
display: flex;
justify-content: center;
}
    
.info p {
display: flex;
justify-content: center;
text-align: center;
padding-bottom: 30px;
}

.arrow {
display: flex;
justify-content: center;
padding-bottom: 10px;
}

.main {
padding-bottom: 100px;
}

.title {
display: flex;
justify-content: center;
padding-top: 20px;

}

.cards {
display: flex;
justify-content: center;
padding-top: 50px;
}

.container-users {
padding-right: 40px;
}

.container-hash {
padding-right: 50px;
}

.container-money {
padding-right: 50px;
}

.users {
display: flex;
justify-content: center;
}


.hash {
display: flex;
justify-content: center;
}

.money {
display: flex;
justify-content: center;
}

.cards h1 {
display: flex;
justify-content: center;
}

.cards p {
display: flex;
text-align: center;
}

.footer {
background-color: rgb(37, 35, 35);
}

.nav2 {
display: flex;
justify-content: center;
padding-top: 30px;
color: white;
}

.nav2 li {
display: inline;
padding-right: 30px;
text-transform: uppercase;
font-size: 18px;
}
.copyright {
display: flex;
justify-content: center;
color: white;
}

@media  (max-width: 1000px) {
.cards { 
display: block;
}
.cards p {
justify-content: center;
}
 .container-hash {
padding-right: 0%;
}

.container-users {
padding-right: 0%;
}
}